<div class="container mt-5">
    <h2 class="font-judul fs-30 mb-20 grey">Auditorial</h2>
    <p class="deskripsi">
        Hei, teman! Menurut hasil tes kamu, kamu memiliki gaya belajar auditorial yang keren! Kamu lebih suka belajar
        dengan mendengarkan. Ini artinya, kamu suka mendengarkan penjelasan, ceramah, atau pembicaraan yang berhubungan
        dengan materi pelajaran. Ketika belajar, cobalah untuk merekam dirimu sendiri saat menjelaskan materi atau
        berdiskusi dengan teman. Dengarkan rekaman tersebut kembali untuk memperdalam pemahamanmu. Juga, kamu bisa
        mencoba membaca catatan pelajaranmu dengan suara keras atau bergabung dalam kelompok studi di mana kamu bisa
        mendiskusikan materi pelajaran bersama teman-teman.
    </p>
    <br>
</div>
