{% extends '_base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Tes Gaya Belajar</h1>
    <p class="lead">"Yuk Coba Tes Gaya Belajar Kamu"</p>
    <!-- <hr class="my-4"> -->
    <!-- <p>Teks tambahan di sini...</p> -->
    <a class="btn btn-light btn-lg" href="{{ url_for('test') }}" role="button">Tes Sekarang</a>
</div>


<div class="container mt-5 sesi">
    <h2 class="judul"><b>3 Gaya Belajar</b></h2>
    <p class="subjudul">Macam - macam tipe gaya belajar kamu</p>
</div>

<div class="container mt-5">
    <h2><b>Gaya Belajar Visual</b></h2>
    <p><i>Tipe Gaya Belajar Visual</i></p>
    <p class="deskripsi">Jika kamu memiliki gaya belajar visual, kamu bisa mencoba strategi belajar yang memanfaatkan
        gambar, diagram, dan visualisasi. Untuk meningkatkan keterampilan menyimak, kamu bisa menonton video atau
        presentasi yang berhubungan dengan topik yang kamu pelajari. Ketika berbicara, cobalah membuat peta pikiran atau
        gambar-gambar yang menggambarkan ide-ide utama yang ingin kamu sampaikan. Saat membaca, perhatikan gambar-gambar
        dan grafik yang ada dalam teks untuk membantu memahami isi bacaan. Selain itu, ketika menulis, kamu bisa membuat
        catatan dengan menggunakan warna-warni dan diagram untuk menyusun ide-ide secara visual.</p>
</div>

<div class="container mt-5">
    <h2><b>Gaya Belajar Auditorial</b></h2>
    <p><i>Tipe Gaya Belajar Auditorial</i></p>
    <p class="deskripsi">Bagi yang memiliki gaya belajar auditorial, metode mendengarkan dan berbicara akan sangat
        membantu. Untuk meningkatkan keterampilan menyimak, dengarkan rekaman audio seperti podcast atau wawancara yang
        berhubungan dengan topik yang kamu pelajari. Saat berbicara, coba praktikkan berbicara dengan jelas dan lancar,
        dan jika memungkinkan, rekam dirimu sendiri dan dengarkan kembali untuk memperbaiki pengucapan dan intonasi.
        Saat membaca, bacalah teks-teks secara keras dan cobalah untuk menjelaskan kembali apa yang telah kamu baca
        dengan suara keras. Ketika menulis, bacakan apa yang telah kamu tulis dan dengarkan kembali untuk memperbaiki
        kesalahan atau menyempurnakan tulisanmu.</p>
</div>

<div class="container mt-5">
    <h2><b>Gaya Belajar Kinestetik</b></h2>
    <p><i>Tipe Gaya Belajar Kinestetik</i></p>
    <p class="deskripsi">Untuk mereka yang memiliki gaya belajar kinestetik, penting untuk melibatkan gerakan dan
        tindakan fisik dalam proses belajar. Saat menyimak, cobalah untuk meniru gerakan yang kamu dengar atau membuat
        gerakan tubuh yang sesuai dengan apa yang sedang kamu dengarkan. Saat berbicara, jangan takut untuk berperan
        dalam peran-peran yang relevan dengan topik yang sedang dibahas atau menggunakan gestur tangan untuk memperkuat
        poin yang kamu sampaikan. Saat membaca, bergeraklah sambil membaca atau gunakan jari kamu untuk menyorot teks
        yang sedang kamu baca. Ketika menulis, cobalah menulis di atas kertas besar sambil berdiri atau berjalan-jalan
        untuk meningkatkan kreativitas dan konsentrasi.</p>
</div>

<div class="container mt-5">
    <p>Semoga dengan menggunakan strategi belajar yang sesuai dengan gaya belajarmu, kamu bisa menjadi lebih efektif
        dalam mempelajari keterampilan berbahasa Indonesia . Teruslah eksplorasi dan temukan cara yang paling cocok
        untukmu! 📚✨</p>
</div>
<div class="container">
    <a class="btn btn-primary btn-lg" href="{{ url_for('test') }}" role="button">Tes Sekarang</a>

</div>


{% endblock %}