{% extends '_base.html' %}

{% block content %}


    <div class="jumbotron">
        <h1 class="display-4 font-judul">Tes Gaya Belajar</h1>
        <p class="lead">"Yuk Coba Tes Gaya Belajar Kamu"</p>
        <!-- <hr class="my-4"> -->
        <!-- <p>Teks tambahan di sini...</p> -->
        <a class="btn btn-light btn-lg" href="{{ url_for('test') }}" role="button">Tes Sekarang</a>
    </div>

    <div class="pds">
    <div class="container mt-5 sesi">
        <h2 class="font-judul grey fs-30">3 Gaya Belajar</h2>
        <p class="subjudul grey">Macam - macam tipe gaya belajar kamu</p>
    </div>



<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
    <h2 class="font-judul fs-30 mb-20 grey">Visual</h2>
    <p class="grey"><i>Tipe Gaya Belajar Visual</i></p>
    <p class="deskripsi">Gaya belajar visual adalah cara kita belajar dengan melihat dan mengamati. Orang-orang dengan gaya belajar visual lebih suka menggunakan gambar, diagram, atau grafik untuk memahami informasi. Misalnya, ketika kita melihat peta atau diagram yang menunjukkan informasi, kita lebih mudah memahaminya daripada hanya mendengarkan penjelasan. Jadi, jika kamu suka melihat gambar atau diagram untuk memahami pelajaran, itu artinya kamu memiliki gaya belajar visual!</p>
</div>
<div class="col-md-4">
    <img src="{{ url_for('static', filename='img/visual1.png') }}" alt="" class="img-icon" width="200px">
</div>
</div>
</div>

<div class="container mt-5">
    <div class="row">
    <div class="col-md-4">
        <img src="{{ url_for('static',filename='img/auditorial1.png') }}" width="200px" alt="" class="img-icon">
    </div>
    <div class="col-md-8">
    <h2 class="font-judul fs-30 mb-20 grey">Auditorial</h2>
    <p class="grey"><i>Tipe Gaya Belajar Auditorial</i></p>
    <p class="deskripsi">
        Gaya belajar auditorial berhubungan dengan pendengaran dan suara. Orang-orang dengan gaya belajar ini lebih suka belajar dengan mendengarkan penjelasan atau diskusi. Mereka biasanya memahami pelajaran lebih baik ketika mereka mendengarkan pembicaraan atau musik. Contohnya, jika kamu lebih suka mendengarkan guru atau temanmu menjelaskan sesuatu, itu artinya kamu memiliki gaya belajar auditorial!
    </p>
    </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
    <div class="col-md-8">
    <h2 class="font-judul fs-30 mb-20 grey">Kinestetik</h2>
    <p class="grey"><i>Tipe Gaya Belajar Kinestetik</i></p>
    <p class="deskripsi">
        Gaya belajar kinestetik melibatkan gerakan dan tindakan. Orang-orang dengan gaya belajar ini belajar lebih baik ketika mereka bisa bergerak atau melakukan hal-hal secara langsung. Mereka mungkin lebih memahami pelajaran dengan melakukan eksperimen atau kegiatan fisik. Jadi, jika kamu suka belajar sambil bergerak, melakukan percobaan, atau praktek langsung, itu artinya kamu memiliki gaya belajar kinestetik!
    </p>
    </div>
    <div class="col-md-4">
    <img class="img-icon" src="{{ url_for('static', filename='img/kinestetik1.png') }}" alt="Kinestetik" width="200px">
    </div>
    </div>
</div>

    <div class="container mt-5">
        <p class="deskripsi">Jadi, ketiga gaya belajar ini adalah cara yang berbeda di mana kita bisa belajar dan memahami informasi dengan lebih baik. Mungkin kamu memiliki sedikit dari satu gaya belajar atau campuran dari mereka semua! Yang penting, dengan mengetahui gaya belajarmu, kamu bisa belajar lebih efektif dan menyenangkan!</p>
    </div>
    <div class="container">
        <a class="btn btn-primary btn-lg" href="{{ url_for('test') }}" role="button">Tes Sekarang</a>

    </div>
</div>

{% endblock %}