<div class="container mt-5">
    <h2 class="font-judul fs-30 mb-20 grey">Kinestetik</h2>
    <p class="deskripsi">
        Hallo! Hasil tes kamu menunjukkan bahwa kamu memiliki gaya belajar kinestetik yang aktif! Kamu lebih suka belajar dengan cara melakukan atau mengalami langsung. Ini artinya, kamu mungkin lebih suka melakukan eksperimen, berpartisipasi dalam permainan peran, atau menggunakan alat peraga saat belajar. Ketika kamu belajar, coba terlibat dalam aktivitas fisik yang terkait dengan materi yang sedang kamu pelajari. Misalnya, jika kamu sedang belajar tentang Puisi, cobalah membuat puisi sambil memperagakan puisi yang kamu buat. Juga, jangan ragu untuk bergerak saat belajar, seperti berjalan-jalan sambil membaca atau membuat gerakan tubuh yang sesuai dengan konsep yang sedang dipelajari.
    </p>
    <br>
</div>