{% extends '_base.html' %}

{% block content %}
<style>
    .row {
        margin: 0 10%;
    }
</style>
<div class="pds" id="atas">
    <div class="container">
        <h1 class="text-center mb-4">Tes Gaya Belajar</h1>
        <div class="accordion-body">
            Berikut adalah <strong>instrumen</strong> pertanyaan gaya belajar <strong>visual</strong>,
            <strong>auditorial</strong>, dan <strong>kinestetik</strong> dalam pembelajaran Bahasa Indonesia dengan
            pilihan jawaban <code>YA</code> dan <code>TIDAK</code>
        </div>
        <form action="/test" id="quiz-form" method="post">
            <div class="accordion" id="accordionExample">
                <h2 class="accordion-header" id="headingOne">
                    <hr>
                    <div class="row " id="">
                        <div style="display: flex;width: 100%;font-size: 1rem;" class="">
                            <p class="">Progress
                            </p>
                            <div style="width: 100%;margin-top: 0.3rem;margin-left: 0.5rem;margin-right: 0.5rem;"
                                class="progress">
                                <div class="progress-value progress" data-progress-percent="1" id="progres"
                                    style="background-color: rgb(28, 72, 247); width: 30%;"></div>
                            </div>
                            <p id="pageProgres">1/3</p>
                        </div>
                    </div>
                </h2>
                <div class="bagian1">
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                            {% for isi in qs1 %}
                            <div class="question">
                                <p><strong>Pertanyaan {{isi.id}}:</strong> {{ isi.isi }}</p>

                                <input type="radio" class="btn-check" name="question{{isi.id}}"
                                    id="question{{isi.id}}-yes" value="yes" autocomplete="off">
                                <label class="btn btn-outline-primary" for="question{{isi.id}}-yes">YA</label>

                                <input type="radio" class="btn-check" name="question{{isi.id}}"
                                    id="question{{isi.id}}-no" value="no" autocomplete="off">
                                <label class="btn btn-outline-danger" for="question{{isi.id}}-no">TIDAK</label>
                            </div>
                            <hr>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="bagian2">
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {% for isi in qs2 %}
                            <div class="question">
                                <p><strong>Pertanyaan {{isi.id}}:</strong> {{ isi.isi }}</p>

                                <input type="radio" class="btn-check" name="question{{isi.id}}"
                                    id="question{{isi.id}}-yes" value="yes" autocomplete="off">
                                <label class="btn btn-outline-primary" for="question{{isi.id}}-yes">YA</label>

                                <input type="radio" class="btn-check" name="question{{isi.id}}"
                                    id="question{{isi.id}}-no" value="no" autocomplete="off">
                                <label class="btn btn-outline-danger" for="question{{isi.id}}-no">TIDAK</label>
                            </div>
                            <hr>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="bagian3">
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {% for isi in qs3 %}
                            <div class="question">
                                <p><strong>Pertanyaan {{isi.id}}:</strong> {{ isi.isi }}</p>

                                <input type="radio" class="btn-check" name="question{{isi.id}}"
                                    id="question{{isi.id}}-yes" value="yes" autocomplete="off">
                                <label class="btn btn-outline-primary" for="question{{isi.id}}-yes">YA</label>

                                <input type="radio" class="btn-check" name="question{{isi.id}}"
                                    id="question{{isi.id}}-no" value="no" autocomplete="off">
                                <label class="btn btn-outline-danger" for="question{{isi.id}}-no">TIDAK</label>
                            </div>
                            <hr>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button onclick="submitAnswers()" id="selesai" class="btn btn-primary w-100 page d-none disabled" type="submit"> <!-- d-none disabled -->
                            SELESAI
                        </button>
                    </h2>
                </div>
            </div>
        </form>
        <div class="baris">
            <button onclick="next()" id="selanjutnya" class="btn btn-primary w-100 page disabled">
                Selanjutnya
            </button>
        </div>
        <!-- <h2 class="accordion-header">
            <button onclick="submitForm()" id="selesai" class="btn btn-primary w-100 page " type="submit"> <-- d-none disabled --
                SELESAI
            </button>
        </h2> -->
    </div>

</div>
<script>
    function disableEnterKey(event) {
        if (event.keyCode === 13) { // Check for Enter key (keyCode 13)
            event.preventDefault(); // Prevent default action (form submission, etc.)
        }
    }
    document.addEventListener('keydown', disableEnterKey);

    function disableSpaceKey(event) {
        if (event.keyCode === 32) { // Check for Space key (keyCode 32)
            event.preventDefault(); // Prevent default action (scrolling, etc.)
        }
    }

    // Attach the event listener to the document (for global disabling)
    document.addEventListener('keydown', disableSpaceKey);

    let qs1c = []
    let qs2c = []
    let qs3c = []
    window.onload = function () {
        document.getElementById("b1").innerText = "0";
        document.getElementById("b2").innerText = "0";
        document.getElementById("b3").innerText = "0";
    }
    document.addEventListener('DOMContentLoaded', function () {
        var radios = document.querySelectorAll('input[type=radio]');
        radios.forEach(function (radio) {
            radio.addEventListener('click', function () {
                if (parseInt(this.id.slice(8, 10)) <= 10) {
                    if (!qs1c.includes(this.id.slice(0, 10))) {
                        qs1c.push(this.id.slice(0, 10));
                        if (qs1c.length == 10) document.getElementById("selanjutnya").classList
                            .remove("disabled");
                        // document.getElementById("b1").innerText = qs1c.length;
                    }
                } else if (parseInt(this.id.slice(8, 10)) <= 20) {
                    if (!qs2c.includes(this.id.slice(0, 10))) {
                        qs2c.push(this.id.slice(0, 10));
                        if (qs2c.length == 10) document.getElementById("selanjutnya").classList
                            .remove("disabled");
                        // document.getElementById("b2").innerText = qs2c.length;
                    }
                } else {
                    if (!qs3c.includes(this.id.slice(0, 10))) {
                        qs3c.push(this.id.slice(0, 10));
                        // document.getElementById("b3").innerText = qs3c.length;
                    }
                }

                if (qs1c.length + qs2c.length + qs3c.length == 3) {
                    document.getElementById("selesai").classList.remove("disabled")
                }
            });
        });
    });
    let count = () => {
        console.log("bagian1 = ", qs1c.length);
        console.log("bagian2 = ", qs2c.length);
        console.log("bagian3 = ", qs3c.length);
    }


    let progres = 34;
    let page_now = 1;

    function handleProgres() {
        progres += 33;
        page_now++;
        document.getElementById("progres").style.width = `${progres}%`;
        document.getElementById("pageProgres").innerHTML = `${page_now}/3`;
    }

    const scrollToElement = (elementId) => {
        const element = document.getElementById(elementId);
        if (element) {
            element.scrollIntoView({
                behavior: 'smooth'
            });
        }
    }



    let bagian1 = document.getElementById("collapseOne");
    let bagian2 = document.getElementById("collapseTwo");
    let bagian3 = document.getElementById("collapseThree");

    function next() {
        handleProgres();
        scrollToElement("atas");
        setTimeout(function () {
            if (bagian1.classList.contains("show")) {
                bagian1.classList.remove("show");
                bagian2.classList.add("show");
                document.getElementById("selanjutnya").classList.add("disabled");
            } else if (bagian2.classList.contains("show")) {
                bagian2.classList.remove("show");
                bagian3.classList.add("show")
                document.getElementById("selesai").classList.remove("d-none");
                document.getElementById("selanjutnya").classList.add("d-none");
            }
        }, 500);
    }

    function submitForm() {
        let url = "/api";  // URL langsung ke endpoint Flask
        // Mengambil data formulir
        var formData = new FormData(document.getElementById("quiz-form"));
        console.log(formData);

        // Kirim data menggunakan Fetch API
        fetch(url, {
            method: 'POST',
            body: JSON.stringify(formData)
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            // Lakukan sesuatu dengan respons dari server jika diperlukan
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>
{% endblock %}