

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
    <h2 class="font-judul fs-30 mb-20 grey">Visual</h2>
    <p class="deskripsi">
        Hai! Wah, hasil tes kamu menunjukkan bahwa kamu memiliki gaya belajar visual yang kuat! Ini artinya, kamu lebih suka mempelajari sesuatu dengan melihat gambar, diagram, atau grafik. Ketika kamu belajar, memperhatikan gambar-gambar atau tulisan yang tercetak bisa membuatmu lebih memahami dan mengingat informasi dengan mudah. Mungkin kamu suka menggunakan peta pikiran atau membuat catatan dengan warna-warni agar bisa menyusun ide-ide dengan lebih baik. Ketika belajar, pastikan kamu memiliki ruang yang terang dan bebas gangguan sehingga kamu bisa fokus pada materi yang kamu pelajari. Jangan lupa, menciptakan gambar-gambar atau visualisasi tentang topik yang sedang kamu pelajari juga bisa membantu kamu memahami materi dengan lebih baik.
    </p>
    <br>
</div>
<div class="col-md-4">
    <img src="{{ url_for('static',filename='img/visual1.png') }}" alt="" width="200px" class="img-icon">
</div>
</div>
</div>


